/*
 *  Copyright (C) 2011 - 2014 Xilinx
 *  Copyright (C) 2012 National Instruments Corp.
 *
 * This software is licensed under the terms of the GNU General Public
 * License version 2, as published by the Free Software Foundation, and
 * may be copied, distributed, and modified under those terms.
 *
 * This program is distributed in the hope that it will be useful,
 * but WITHOUT ANY WARRANTY; without even the implied warranty of
 * MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE.  See the
 * GNU General Public License for more details.
 */
/dts-v1/;
/include/ "zynq-7000.dtsi"

/ {
	model = "Zynq Zed Development Board";
	compatible = "xlnx,zynq-zed", "xlnx,zynq-7000";

	aliases {
		ethernet0 = &gem0;
		serial0 = &uart0;
		i2c0 = &i2c0;
	};

	memory {
		device_type = "memory";
		reg = <0x0 0x20000000>;
	};

	chosen {
		bootargs = "console=ttyPS0,115200 root=/dev/ram rw earlyprintk";
		linux,stdout-path = &uart0;
		stdout-path = &uart0;
	};

	usb_phy0: phy0 {
		compatible = "ulpi-phy";
		#phy-cells = <0>;
		reg = <0xe0002000 0x1000>;
		view-port = <0x0170>;
		drv-vbus;
	};

	gpio-leds {
		compatible = "gpio-leds";
		led-8-yellow {
			label = "led8";
			gpios = <&gpio0 0 0>;
			default-state = "off";
			linux,default-trigger = "mmc0";
		};
		led-9-red {
			label = "led9";
			gpios = <&gpio0 7 0>;
			default-state = "off";
			linux,default-trigger = "heartbeat";
		};
	};

	dt_overlay {
		compatible = "dt_overlay";
	};

	dmacopy0: dmacopy@0 {
		compatible = "foo,dmacopy-0.1";
		label = "dmacopy0";
		reg = < 0x40400000 0x0000FFFF >,
				<0x43C00000 0x0000FFFF>;
		interrupt-parent = <&intc>;
		interrupts = <0 59 4>; /* 1 */
		dma0_base = <0x40400000>;
	};

};

&clkc {
	ps-clk-frequency = <33333333>;
};

&gem0 {
	phy-mode = "rgmii-id";
	phy-handle = <&phy0>;
	status = "okay";

	phy0: phy@7 {
		compatible = "lantiq,phy11g";
		device_type = "ethernet-phy";
		reg = <1>;
	};
};

&i2c0 {
	status = "okay";

	eep@50 {
		compatible = "24c64";
		reg = <0x50>;
	};

	/*hwmon@40 {
		compatible = "htu21";
		reg = <0x40>;
	};*/
};

&sdhci0 {
	status = "okay";
};

&uart0 {
	status = "okay";
};

&usb0 {
	dr_mode = "host";
	usb-phy = <&usb_phy0>;
	status = "okay";
};
